*{
   margin: 0; 
}

/* Homepage here refers to the product home page that displays all available products */

/* Added some basic styling to the product page */
.homepage {
   display: grid;
   grid-template-columns: 1fr 1fr 1fr 1fr;
   background-color: #121212;
   
}

