.cart_item {
    position: relative; 
    background: #121212;
}

.citem_image {
    height: 40%;
    width: 40%;
    object-fit: cover;
    margin-bottom: 40px;
}

.cart {
    background: #121212;
    color: #ffffff;
    font: fantasy;
    font-weight: 100;
}