.cart_item {
    position: relative; 
    background: #121212;
}

.citem_image {
    padding: 5px;
    width: 350px;
    height: 300px;
      
}

.cart {
    background: #121212;
    color: #ffffff;
    font: fantasy;
    font-weight: 100;
}

.btn .btn-primary{
    align-items: center;
}