/* .product_rating {
    display: flex;
} */

.product {
    display: flex;
    flex-direction: column;
    max-height: 400px;
    min-width: 200px;
    background-color: blueviolet;  
    align-items: center; 
    justify-content: start;
}

.product_title {
    margin-bottom: 7.5px;
    order: 0;
}

.product_price {
    margin-bottom: 7.5px;
    order: 0;
}

.product_rating {
    margin-bottom: 7.5px;
    order: 0;
}

.product_category {
    margin-bottom: 7.5px;
    order: 0;
}

.product_reviews {
    margin-bottom: 7.5px;
    order: 0;
}

.product_id {
    margin-bottom: 7.5px;
    order: 0;
}

.product > img {
    max-height: 100px;
    width: 20%;
    object-fit: contain;
    margin-bottom: 15px;
    order: 0;
}
