
.product {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-auto-rows: (100px, auto);
    border: 1px #ccc solid;
    padding: 10px;
    margin: 5px;
    
    background-color: rgb(61, 60, 63);   
    align-items: center; 
    justify-content: start;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: rgb(255, 250, 242);
}

/* Sub-grid */

.firstline {
    text-align: center;
    font-size: large;
}

.secondline {
    text-align: center;
}

.thirdline {
    text-align: center;
}

.fourthline {
    text-align: center;
}

.fifthline {
    text-align: center;
}

.sixthline {
    text-align: center;
}

/*End of sub-grid. Separate lines in case of future modifications to the CSS sub-grid*/

.product_title {
    margin-bottom: 7.5px;
    /* order: 0; */
}

.product_price {
    margin-bottom: 7.5px;
    /* order: 0; */
}

.product_rating {
    margin-bottom: 7.5px;
    /* order: 0; */
}

.product_category {
    margin-bottom: 7.5px;
    /* order: 0; */
}

.product_reviews {
    margin-bottom: 7.5px;
    /* order: 0; */
}

.product_id {
    margin-bottom: 7.5px;
    /* order: 0; */
}

.product > img {
    height: 300px;
    width: 300px;
    justify-self: center;
    object-fit: cover;
    margin-bottom: 15px;
    
    /* order: 0; */
}

/* Background color */
.product_title, .product_price, .product_rating, .product_price > small, .product_price > strong, .product_category, .product_reviews, .product_id {
    background-color: rgb(61, 60, 63); 
}



