.cart__table{
    margin: 0px; 
}

.cart_item {
    position: relative; 
    background: #121212;
}

.citem_image {
    height: 300px;
    width: 350px;
    object-fit: cover;
    margin-bottom: 40px;
    margin-top: 30px; 
    margin-left: 20px; 
    margin-right: 20px; 
}

.cart {
    background: #121212;
    color: #ffffff;
    font: sans-serif;
    font-weight: 50;
}

.citem_id .citem_title .citem_price .citem_category {
    margin-left: 20px; 
    margin-right: 20px;
    word-wrap: break-word; 
}

tr {
    outline: thin-solid; 
    outline-color: white; 
}

.pitem_price {
    text-align: center;
    padding: 20px;

}

